body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar-track {
  border: 1px solid #ffcd17;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #0077bd;
}
.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  list-style: none;
  margin: 0;
  padding: 18px 12px;
}

.links li {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
}
.links__item {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  transition: all .3s cubic-bezier(0.25, 0.8, 0.5, 1);
  color: white !important;
}

.links__item.links__itme_amarillo {
  color: #2B2B2B !important;
}

.links li:nth-child(2n){
  padding: 0 12px;
}

.links ul {
  padding: 0;
}

.theme--light.v-pagination .v-pagination__item,
.theme--light.v-pagination .v-pagination__navigation {
  background: #E3E3E3 !important;
  color: #05090C !important;
}

.theme--dark.v-pagination .v-pagination__item,
.theme--dark.v-pagination .v-pagination__navigation {
  background: #005C91 !important;
}

.theme--light.v-pagination .v-pagination__item--active {
  background:#FFCD17 !important;
}
.theme--dark.v-pagination .v-pagination__item--active {
  background:#05090C !important;
}
.theme--light.v-sheet {
  background: inherit;
}